#main-form {
    border: solid 2px #e9521d;
    display: flex;
    flex-direction: column;
}

#logo {
    border: solid 2px #e9521d;
    margin: 2%;
    z-index: 3;
}

.back-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.back-logo .img-bh {
    width: 95%;
    opacity: 0.03;
    z-index: -1;
}

#title-label {
    margin-right: 20px;
}

.radio-label-mh {
    position: relative;
    padding-right: 18%;
}

.field {
    margin-bottom: -25px !important;
}

.check-field {
    margin-bottom: -12px !important;
}

.other {
    margin-top: 10px !important;
    margin-bottom: -30px;
}

.check-container {
    border: solid 1px rgba(0,0,0,.38);
    border-radius: 5px;
    padding: 10px 0 0 10%;
}

.text-descript {
    font-size: 14px;
}

.radio-label-ri {
    position: relative;
    top: 10px;

}

.label-radio {
    position: relative;
    bottom: 15px;
    padding-left: 10%;
}

.radio-button {
    position: relative;
    bottom: 10px;
}

.radio-button2 {
    top: 10px;
    margin-left: 6%;
}

.radio-button-3 {
    position: relative;
    top: 10px;
}

.label-date, .label-up-field  {

    font-weight: 500;
    color: #e9521d;
}

.rating-container {
    line-height: 150px;
    text-align: center;
}

.row-rating {
    margin: 30px;
}

.radio-rating-label {
    text-align: center;
    font-weight: 500;
    color: #e9521d;
}

.label-other-rehab {
    position: relative;
    top: -2px;
}

.radio-label-rehab {
    position: relative;
    padding-right: 8%;
}



@media only screen and (min-width: 958px) {
    #custom-label {
        display: none;
        font-size: 14px;
    }
}